* {
    box-sizing: border-box;
}

body, main{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}

header img{
    width: 5%;
}

header h1 {
    color: #d04f4f;
}

.grey {
    background: #e9ecef;
    border: none;
}

#input-size {
    width: 83%;
    height: 55px;
    margin: auto;
}

.container-fluid {
    padding: 0;
}

#input-size svg{
    stroke: black;
    height: 25px;
    width: 20px;
}


#basic-addon1{
    border: none;
}

section {
    margin: auto;
    width: 83%;
}

.input-select {
    display: flex;
    margin-top: 15px;
}

.dropdown{
    margin-right: 15px;
}

.dropdown-menu{
    font-weight: 500;
}

.receips-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    margin-top: 25px;
}

.card-img-top{
    height: 150px;
    background: #C7BEBE;
}

.card-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: #E7E7E7;
   border: none;
   font-size: 1rem;
   height: auto;
}

.card-header h2 {
    font-size: 1rem;
    margin: 0;
    font-weight: 600;
    width: 65%;
}

.div-timer{
    display: flex;
    align-items: center;
}

.div-timer p {
    font-weight: bold;
    margin: 0;
    padding-left: 10px;
}


.card-body{
    display: flex;
    background: #E7E7E7;
    padding: 0;
    font-size: 0.8rem;
}

.card-body ul {
    white-space: nowrap;
    overflow: hidden;
    width: 50%;
    list-style: none;
    padding: 15px;
}


.card-body ul li{
    font-weight: bold;
}

.card-body ul li span {
    font-weight: 500;
}

.card-body p {
    font-weight: 500;
    width: 50%;
    height: 130px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 15px;
}

/* .receips-display article{
    display: block;
} */

.chipsSelected{
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    font-weight: 600;
    color: white;
    border-radius: 10px;
    background-color: #f1f1f1;
    margin: 5px;
}

.chipsSelected img {
    padding-left: 5px;
}




#InputArrowIngredient{
    width: auto;
}

#dropdownMenuButtonInredient{
    background-color: #0d6efd;
    color: white;
}



#ingredients{
    background-color: #0d6efd;
    color: white;
    width: 100%;
}

#arrowIngredient{
    position: absolute;
    transform: translate(-25px, 15px);
}

#arrowAppliance{
    position: absolute;
    transform: translate(-25px, 15px);
}

#arrowUstensils{
    position: absolute;
    transform: translate(-25px, 15px);
}

.dropdown-menu {
    overflow: hidden;
    column-count: 3;
}


.show li {
    float: left;
    margin: 5px;
}


#dropdownMenuButtonAppliance{
    background-color: #20c997;
    color: white;
}

#appliance{
    background-color: #20c997;
    color: white;
    width: 100%;
}

#dropdownMenuButtonUstensils{
    background-color: #fd7e14;
    color: white;
}

#ustensils{
    background-color: #fd7e14;
    color: white;
    width: 100%;
}

#dropdownMenuButtonInredient::placeholder{
    color: white;
    font-weight: 600;
    text-align: left;
}

#dropdownMenuButtonAppliance::placeholder{
    color: white;
    font-weight: 600;
    text-align: left;
} 

#dropdownMenuButtonUstensils::placeholder{
    color: white;
    font-weight: 600;
    text-align: left;
}

.hide{
    display: none;
}

.dropdown-toggle{
    width: 160px;
    height: 45px;
    transition: width 500ms ease-in-out;
}

.dropdown-toggle:focus{
    width: 325px;
}

#errorMessage{
    position: absolute;
    font-weight: 600;
    }

@media screen and (max-width: 654px) {
    .receips-display{
        display: flex;
        flex-direction: column;
    }

    .input-select{
        flex-direction: column;
        align-items: center;
    }

    .input-select input {
        margin-bottom: 15px;
    }
}